@import url(https://fonts.googleapis.com/css?family=Kalam);

body {
   display: flex;
   justify-content: center;
   background-color: grey;
   color: white;
   padding: 10em;
}

.error {
   color: black;
   font-size: 1.4rem;
}

.form {
   display: flex;
   flex-direction: column;
   font-family: 'Kalam', cursive;
   font-size: larger;
   background: linear-gradient(to left, #8942a8, #ba382f);
   padding: 2em;
   border-radius: 15px;
}

input {
   border: none;
   outline: 0;
   border-bottom: 2px solid #4f849c;
   font-size: 1.4rem;
   color: #ccc;
   background-color: transparent;
}

.label {
   display: inline-block;
   width: 70px;
}

.button {
   display: inline-block;
   padding: 15px 25px;
   margin-top: 10px;
   font-size: 24px;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   outline: none;
   color: #fff;
   background-color: brown;
   border: none;
   border-radius: 15px;
}

.button:hover {
   background-color: #7a0000
}

.subtitles {
   font-size: larger;
}

textarea {
  border: none;
  outline: 0;
  border-bottom: 2px solid #4f849c;
  font-size: 1.4rem;
  color: #ccc;
  background-color: transparent;
}

@media (max-width: 450px) {
   body {
      padding: 10em 0 10em 0;
   }

   .form {
      font-size: 18px;
      border-radius: 0;
   }
   
   .error {
      font-size: 18px;
   }

   .label {
      width: 50px;
   }

   input {
      font-size: 18px;
   }

   .datas {
      margin-left: 10px;
   }

   textarea {
      font-size: 18px;
   }

   .button {
      font-size: 20px;
   }

   .subtitles {
      font-size: 18px;
   }
}

@media (max-width: 320px) {
   body {
      padding: 10em 0 10em 0;
   }
   .form {
      display: inline-block;
      font-size: medium;
      border-radius: 0;
   }
   .label {
      width: 50px;
   }

   .error {
      font-size: medium;
   }

   input {
      font-size: medium;
   }
   
   textarea {
      font-size: medium;
   }

   .button {
      font-size: 20px;
   }
   .subtitles {
      font-size: medium;
   }
}